.role-cell-w {
    width: 90px;
    text-align: center;
}
table .box.center {
    left: 25px;
}
table .check.center {
    left: 28px;
}
table .md-checkbox.has-success label span:first-child {
    left: 4px;
}

.bold-color {
    font-weight: 600 !important;
}
.acl-not-allow {
    opacity: 0.2;
    pointer-events: none;
    cursor: default;
}