.news-show.blog-content-2 .blog-single-content{
  padding: 10px 10px 15px;
}
.news-show.blog-content-2 .blog-single-content>.blog-single-img {
  margin: 0 0 10px;
  max-height: 300px;
}
.news-show.blog-content-2 .blog-single-content .blog-single-desc img{
  max-width: 100%;
}
.news-show.blog-content-2 .blog-single-desc .blog-introduction, .blog-content-2 .blog-single-desc .blog-description {
  padding: 8px 0;
  line-height: 1.42857;
}
.news-show.blog-content-2 .wrap-pic-cover{
  width: 100%;
  background: rgba(138, 138, 138, 0.2);
  display: block;
}
.news-show.blog-content-2 .pic-cover{
  max-height: 300px;
  object-fit: cover;
  margin: auto;
}
.news-show.blog-content-2 .news-text-time:hover{
  text-decoration: none;
}
.news-show .caption .news-status{
  font-size: 19px;
  font-weight: 600;
}
.news-show.blog-content-2 .blog-single-sidebar{
  padding: 0px;
}
.news-show.blog-content-2 .blog-single-sidebar .blog-sidebar-title{
  margin-top: 10px;
  margin-bottom: 10px;
}
.news-show.blog-content-2 .blog-single-sidebar-ui a{
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.news-show.blog-content-2 .blog-single-sidebar-ui a:hover{
  opacity: 1;
}
.news-show.blog-content-2 .blog-single-sidebar-ui img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news-show.blog-content-2 .blog-single-sidebar-ui .gallery-images{
  overflow: hidden;
}
.news-show.blog-content-2 .blog-single-sidebar-ui .gallery-images ul li{
  height: 80px;
}
.news-show.blog-content-2 .blog-single-content>.blog-single-foot{
  padding: 0;
  margin: 0;
}
.news-show .mt-element-list .list-default.mt-list-container ul>.mt-list-item>.list-item-content a{
  word-break: break-word;
  vertical-align: sub;
}
.news-show .mt-element-list .list-default.mt-list-container ul>.mt-list-item {
  padding: 15px 0;
}
.news-show .box-related-news .news-intodiction{
  margin-top: 10px;
}
.news-show .mt-element-list .list-default.mt-list-container ul>.mt-list-item>.list-datetime{
  width: 80px;
}
.news-show .mt-element-list .list-default.mt-list-container ul>.mt-list-item>.list-item-content {
  padding: 0 85px 0 40px;
}
.news-show .mt-element-list .list-default.mt-list-container ul>.mt-list-item>.list-icon-container {
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: auto;
  padding: 0px 0.4em;
}
.news-show .mt-element-list .list-default.mt-list-container ul > .mt-list-item > .list-item-content a:hover{
  color: inherit;
  text-decoration: underline;
}
.news-show .box-related-news .mt-element-list .mt-list-container{
  padding: 1px 0;
}
.news-show .box-related-news .mt-element-list .list-news.mt-list-head .list-title.caption{
  font-size: 18px;
}
.news-show .box-related-news .mt-element-list .list-news.ext-1.mt-list-head .list-count {
  padding: 15px 19px;
}
.news-show .portlet .blog-single-sidebar-tags .box-news-category-link{
  padding-bottom: 15px;
}
.news-show .portlet .blog-single-sidebar-tags .box-news-tag{
  padding-bottom: 5px;
}
.news-show .portlet .blog-single-sidebar-tags .box-news-author{
  padding-bottom: 5px;
}
.news-show .box-related-news .load-more.b-btn{
  text-align: center;
  margin-top: 20px;
}
.news-show .box-related-news .load-more.b-btn:before {
  content: '';
  height: 1px;
  background: #ddd;
  top: 40%;
  display: block;
  width: 100%;
  text-align: right;
}
.news-show .box-related-news .load-more.b-btn:before {
  z-index: 1;
  position: relative;
  content: '';
  height: 1px;
  background: #ddd;
  top: 55%;
  display: block;
  width: 100%;
}
.news-show .box-related-news .load-more.b-btn {
  position: relative;
  height: 40px;
  text-align: right;
  margin: 30px auto;
}
.news-show .box-related-news .load-more > a.btn{
  z-index: 2;
  position: relative;
  margin: 0;
  padding: 10px 15px 10px 15px;
  margin-right: 17px;
  background: #fff;
  color: #000;
  border: 1px solid #179bd9;
}
.news-show .box-related-news .load-more > a.btn:hover{
  border-color: #52ab24;
}
.news-show .box-related-news .loader{
  position: relative;
  text-align: center;
}
.news-show .box-related-news .loader-spinner{
  padding: 30px 0px;
}
.news-show .blog-single-sidebar>.blog-single-sidebar-tags .box-news-tag .blog-post-tags>li>a {
  margin-bottom: 5px;
  display: inline-block;
}
.news-show .cursor-text{
  cursor: text;
}
.news-show .portlet.box-related-news{
  padding: 12px 15px 15px;
}
.news-show .portlet .box-portlet-body-attachments .list-item-content>h3{
  font-weight: normal !important;
}
.news-show .portlet-news-show-attachments > .portlet-title{
  margin-bottom: 0px;
}
.news-show .portlet-news-show-attachments > .box-portlet-body-attachments{
  padding-top: 0px;
}
